body {
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr 80px;
    min-height: 100vh;
    margin: 0;
}

.nav-bar {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    background-color: rgb(172, 9, 88);
    box-shadow: 0 3px 10px rgb(129, 128, 128);
}

.title > h1 {
    font-size: 70px;
    margin: 20px 0px;
}

.title > h3 {
    font-size: 36px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.nav-bar > .title {
    margin-left: 100px;
    color: white;
}

.nav-bar > button {
    margin-left: auto;
    height: 90px;
    width: 190px;
    font-size: 40px;
    margin-right: 400px;
    border-radius: 20px;
    color:rgb(172, 9, 88);
    background-color: white;
    border: rgb(172, 9, 88);
    cursor: pointer;
}

.nav-bar > button:hover {
    box-shadow: 0 0 20px white;
}

.game, #prompt_grid {
    display:flex; 
    flex-direction: column;
    margin-top: 30px;
    justify-content: start;
    align-items: center;
}

.game_result {
    display: grid;
    grid-template-columns: minmax(auto, 1200px) minmax(auto, 550px);
    align-items: flex-start;
    margin-top: 30px;
}


.prompt_grid_result {
    grid-column:  1/2;
    justify-content: right;
}

.show_result {
    grid-column:  2/3;
    margin: 80px 50px 80px 0;
    background-color:beige;
    transform: translate(0, 140px)
}

#show_result > h1 {
    text-align: center;
    font-size: 46px;
}

.score_div > p {
    text-align: center;
    font-size: 28px;
}


#grid {
    grid-column: 1/2;
    grid-row: 2/3;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game > p, #prompt {
    font-size: 50px;
    font-weight: bold;
    color: rgb(172, 9, 88);
}

.cell {
    border: 5px solid rgb(172, 9, 88);
    height: 200px;
    width:200px;
    background-color: rgb(244, 223, 218);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.X-color {
    color: rgb(5, 91, 46);
}

.O-color {
    color: rgb(5, 222, 117);
}

.cell:hover {
    box-shadow: 0 0 20px rgb(172, 9, 88);
}

.cell:active {
    transform: scale(.98);
}


.setting {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(244, 223, 218);
    box-shadow: -3px 0 10px rgb(166, 166, 166);
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
}

.setting > h4 {
    font-size: 50px;
    margin: 40px 0px;
    color:rgb(172, 9, 88);
}

.setting > button {
    height: 80px;
    width: 210px;
    border-radius: 30px;
    background-color: rgb(172, 9, 88);
    color: white;
    border: solid 3px rgb(127, 6, 64);
    font-size: 26px;
    font-weight: 550;
    cursor: pointer;
}

.setting > button:hover {
    box-shadow: 0 0 10px rgb(172, 9, 88);
}

.setting > button:active {
    transform: scale(.98);
}

input {
    height: 35px;
    width: 400px;
    border-radius: 15px;
    font-size: 24px;
    padding: 0px 10px;
}

input:hover {
    box-shadow: 0 0 20px rgb(172, 9, 88);
}

input:focus {
    outline: rgb(127, 6, 64) solid 1px;
}

.setting > .input > label {
    font-size: 26px;
    font-weight: bold;
    color:rgb(172, 9, 88);
    margin-right: 10px;
}

.setting > .input + .input {
    margin-bottom: 40px;
}

.footer {
    grid-column: 1/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 9, 88);
    color: white;
    font-size: 20px;
}